html {
  --background: #fdf9f2;
  --gul1: #ffe694;
  --gul2: #ffefba;
  --gul3: #fff4d1;
}

/* body {
  background-color: var(--background);
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 15fr;
  max-height: 2000px;
} */

body {
  background-color: var(--background);
  margin: 0;
  display: flex;
  flex-direction: row;
  max-height: 2000px;
}

.top {
  grid-row: 1/2;
}
header {
  flex-shrink: 0; /* Forhindrer headeren i at ændre størrelse */
}

main {
  flex-grow: 1; /* Gør, at main fylder den resterende plads */
}

/* header **********************************/

.header_nav li {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-left: -11px;
  border: black 1px solid;
  border-radius: 14px;
  font-size: 16px;
  list-style: none;
  position: relative; /* Sikrer korrekt positionering */
}

.header_nav a {
  color: black;
  text-decoration: none;
  display: block; /* Udvid linket til at fylde hele li */
}
/* 
.header_nav li:hover {
  color: black;
  text-decoration: none;
  display: block;
  transform: scaleX(1.5);
  writing-mode: initial;
  position: relative;
}
  */
.header_nav ul {
  margin: 0;
  padding: 0;
}

.header_nav li a {
  display: flex; /* Tilpasser tekstcentrering */
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 14px; /* Flytter padding til a */
}

.btn_portfolio {
  background-color: var(--gul3);
  margin-top: -2px;
}

.btn_home {
  background-color: var(--gul1);
  margin-top: -2px;
}

.btn_resume {
  background-color: var(--gul2);
  margin-top: -2px;
}

/* index **********************************/

.box {
  display: flex;
  justify-content: center; /* Horisontal centrering */
  position: relative;
  width: 100%; /* Bruger 100% af containerens bredde */
  max-width: 800px; /* maksbredde - responsivt */
  margin: 0 auto; /* Centerer boxen horisontalt */
  height: 40vh;
  margin-top: 56%;
}

.box1,
.box2 {
  position: absolute;
  background-color: var(--gul2);
  aspect-ratio: 1/1;
  width: 50%;
}

.box2 {
  background-color: var(--gul1);
  top: -4%;
  left: 20%;
}
.img_index {
  position: absolute;
  width: 50%;
  padding-right: 9%;
  top: -14%;
  left: 20%;
}

.center_index {
  display: flex;
  /* align-items: center; */
  margin: 0;
  flex-direction: column; /* Stabler elementerne lodret */
}

.h1_index {
  display: flex;
  justify-content: flex-end;
  margin-right: 6%;
  font-size: 10cqw;
}

@media (width >=500px) {
  .box2 {
    top: -8%;
  }

  .box {
    margin-top: 20%;
    height: 53vh;
  }
  .img_index {
    top: -22%;
    max-width: 80%;
  }
}

/* portfolio **********************************/
.portfolio a {
  text-decoration: none;
  color: black;
}

.grid-1_3_1 {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  margin-top: 34%;
}

.temas {
  grid-column: 2/3;
}

.grid-1_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 5px #c4b277 solid;
  place-items: center;
  text-align: center; /* Sørger for, at teksten er centreret indenfor h1 */
  position: relative;
  z-index: 1;
}

.grid-2_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-left: #c4b277 5px solid;
  border-right: #c4b277 5px solid;
  /* border-bottom: #c4b277 5px solid; */
  place-items: center;
  text-align: center; /* Sørger for, at teksten er centreret indenfor h1 */
  position: relative;
  z-index: 1;
}

.t_pic {
  display: grid;
  position: absolute;
  grid-column: 2/3;
  width: 170%;
  z-index: 0;
}

.t_pic_l {
  display: grid;
  position: absolute;
  grid-column: 1/2;
  width: 170%;
  z-index: 0;
}

.tema_pic {
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.h2_tema {
  position: relative;
  font-size: 12px;
  margin: 0;
}

.tema_text {
  position: relative;
  font-size: 10px;
}

/* resume **********************************/

.box3 {
  display: flex;
  justify-content: center; /* Horisontal centrering */
  position: relative;
  width: 100vw;
  height: 44vh;
  margin-top: 12%;
}
.box4 {
  position: absolute;
  background-color: var(--gul2);
  aspect-ratio: 1/1.5;
  width: 50%;
  left: 29%;
  top: 2%;
}

.test {
  position: absolute;
  max-width: 54%;
  left: 20%;
}

.nav1_resume li,
.nav2_resume li {
  font-size: 16px;
  list-style: none;
  padding: 0;
  font-weight: normal;
  text-align: left;
}

.nav1_resume ul,
.nav2_resume ul {
  padding: 10%;
  margin: 0;
}
.nav_resume {
  background-color: var(--gul1);
}

.nav1_resume,
.nav2_resume {
  padding: 10%;
  text-align: center;
  font-weight: bold;
}

.resume_style h1,
h2,
p {
  margin: 0;
}

.resume_style {
  background-color: var(--gul2);
  padding: 10% 10% 10% 12%;
  margin: 10%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.resume_style h2:first-of-type {
  font-weight: normal;
}

.sec1_resume {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.sec2_resume h3 {
  margin-bottom: 0;
}

.grid1-1_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav2_resume {
  grid-row: 1/2;
}

.sec2_resume p:nth-of-type(2),
.sec2_resume p:last-of-type {
  font-style: italic;
}

.sec2_resume section:nth-last-child(1) {
  padding-top: 10%;
  padding-bottom: 10%;
}

/* tema ******************************** */

.tema1 img {
  max-width: 85%;
  transform: rotate(90deg);
  border-radius: 4px;
}

.tema1 div:first-of-type {
  display: flex;
  justify-content: center;
  background-color: var(--gul2);
  border-radius: 50px;
  padding: 2% 13%;
  margin: 10px 30px;
  border: black 1px solid;
}

.tema1 h1 {
  margin: 0 10%;
}

.tema1 p {
  margin: 0 10%;
}

.tema1 div:last-child {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  justify-content: flex-start;
}

.tema1 a {
  align-self: center;
  padding: 10px;
  background-color: var(--gul2);
  margin-bottom: 10px;
  border: black 1px solid;
  border-radius: 15px;
  text-decoration: none;
  color: black;
}

.tema1 a:first-child {
  padding: 10px 46px;
}

.tema1 a:hover {
  background-color: var(--gul1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Skygge under knappen */
}
